#header{
    display: flex;
    justify-content: center;
    font-style:italic;
    margin-top: 10px;
    font-size: x-large;
}

.nav{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

#container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#body{
    background-image:url(background.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0.8;
    font-size: x-large;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.footerFont{
    margin-top: 30px;
    margin-left: 20px;
}