.layoutMessageBoxes{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 26%;
    flex-wrap: wrap;
}

.messageBox{
    border: 2px solid black;
    border-radius: 40px;
    background-color: whitesmoke;
    opacity: 0.8;
    margin-top: 75px;
    height: auto;
    width: 900px;
}

.userName{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: large;
}

.blogTitle{
    display: flex;
    justify-content:center;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 20px;
}

.blogText{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.dateAndTime{
    margin-left: 20px;
    font-size: medium;
    font-style:oblique;
}

.commentOption{
    margin-left: 20px;
    margin-top: 30px ;
}

.commentText{

margin-left: 20px;
margin-bottom: 20px;
font-size: larger;
font-style:unset;
margin: 2px solid black;
}

.commentTitle{
    margin-top:30px ;
    margin-left: 20px;
    font-size: large;
}

.btnCommentPublish{
    margin-top: 20px;
    margin-bottom: 10px;
}

.error-box{
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

